PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/bytenielit
JWT_SECRET=your_super_secret_jwt_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:3000
ANTHROPIC_API_KEY=your_anthropic_api_key_here
FIREBASE_SERVER_KEY=your_firebase_server_key_here
